<h1><%= heading.capitalize %> Charges</h1>
<table class='<%= heading %>'>
 <tr>
    <th>Cust Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
<% type.each do |charge|  %>
  <tr class=<%= heading %>_charge >
    <td><%= charge.customer.first_name+" "+charge.customer.last_name %></td>
    <td class = 'money-cell'><%= charge.money %></td>
    <td><%= charge.status_date %></td>
  </tr>
<% end %>
<table>